.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 50px;
  text-align: center;
}

div.vertical {
  align-items: center;
}
